[submodule "backend"]
	path = backend
	url = https://github.com/hu-overengineers/CoSpace-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/hu-overengineers/CoSpace-frontend.git
